<!DOCTYPE html>
<html lang="es">
    <head>
    <%- include ('template/head') %>
    <title>Revista Científica | Articulos</title>

    <!-- link para usar flexboxgrid-->
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css"
        type="text/css"
    />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <!--Link para los estilos CSS locales-->
    <link rel="stylesheet" href="/css/articulos.css" />
  </head>
  <body>
    <!-- Inicio de la cabecera -->
    <% if (login){%> <%- include ('template/header-user-log' , {nombre:name}) %>
    <!-- Fin de la cabecera -->
    <main class="body">
        <!--

    
    <div class="container-fluid bg-light">    
        <ul
        class="nav nav-pills mb-3 py-3 container"
        id="pills-tab"
        role="tablist"
    >
        
        <li class="nav-item" role="presentation">
            <a
            class="nav-link active"
            id="pills-profile-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-profile"
            type="button"
            role="tab"
            aria-controls="pills-profile"
            aria-selected="false"
            >Articulos</a
            >
        </li>
        <li class="nav-item" role="presentation">
            <a
            class="nav-link"
            id="pills-contact-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-contact"
            type="button"
            role="tab"
            aria-controls="pills-contact"
            aria-selected="false"
            >Mis articulos</a
            >
        </li>
    </ul>
        -->

    </div>  

    <div class="tab-content" id="pills-tabcontent"> 
        <div
            class="tab-pane fade show active container"
            id="pills-profile"
            role="tabpanel"
            aria-labelledby="pills-profile-tab"
        >
        <h2 class="h4 m-4 text-secondary">Articulos</h2>
          
            <div class="row center-xs">
            <% results.forEach((ARTICULOS)=>{%>
    
              <div class="col d-flex justify-content-center mb-4 contenedor">
                <div class="card shadow mb-1 bg-light rounded" style="width: 16rem;">
                  <br>
                  <div class="button-box">
                    <a href="http://docs.google.com/gview?url=RCientificaFACCI.azurewebsites.net/<%= ARTICULOS.AR_FILE%>.pdf&embedded=true">
                      <button class="btn btn-outline-success">Leer en linea</button>
                    </a>
                    <a href="articulos/<%=ARTICULOS.AR_FILE%>" download="<%= ARTICULOS.AR_FILE%>.pdf">
                      <button class="btn btn-outline-success">Descargar</button>
                    </a>
                  </div>
  
                  <div class="card-product-info card-body">
                    <img class="card-img-top"  src="/images/iconpdf.svg"
                    /></a>
                    <br>
                    <br>
                    <h3 class="card-title" ><%= ARTICULOS.AR_TITULO%></h3>
                    <div class="card-product-description text-secondary-50 description">
                      <p><%= ARTICULOS.AR_AUTOR%></p>
                    </div>
                  </div class="d-grid gap-2">
                  <a href="/datos-articulo/<%= ARTICULOS.AR_ID%>">
                    <button class="btn btn-outline-success">Datos bibliográficos</button>
                    <br>
                    <br>
                  </a>
                </div>
              </div>
              <% })%>
            </div>
  
        </div>
      </div>      
      <!-- Fin de galeria de articulos-->
    </main>
    <!--Inicio del FOOTER-->
    <%- include ('template/footer') %>
    <!--Final del FOOTER-->
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
    <!-- JavaScript Bundle with Popper -->
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"
    ></script>
    <script src="/js/carrito3.js"></script>
    <%} else{%> <%- include ('template/header') %> <%- include ('template/user' ) %>  <%- include ('template/footer') %> <%}%>
  </body>
</html>
