<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include ('template/head') %>
        <title> Datos del artículo</title>

        <!--Link para los estilos CSS locales-->
        <link rel="stylesheet" href="/css/datos-articulo.css">

        <!-- Bootstrap CSS -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.min.css"
        />
    </head>
    <body>
    <!--Comienzo de la cabecera -->
    <%- include ('template/header') %>
    <!--fin de la cabecera-->

    <% if (ARTICULOS) { %>
    
    <main class="body">
    <!--Inicio de la seccion prodcuto-->
        <div class="container-datos">
            <div class="titulo-articulo">
                    <h3 class="titulo-articulo-h3"><%= ARTICULOS.AR_TITULO%></h3>
            </div>
            <div class="img-pdf">
                <img
                    src="/images/iconpdf.svg"
                    class="i-pdf" 
                    src="/images/iconpdf.svg"
                    alt="Icono pdf"/>
            </div>
            <div class="datos-articulo">
                <div class="datos-articulo-titulo">
                    <h5 class="datos-articulo-h">
                        Información bibliográfica
                    </h5>
                </div>
                <div class="row g-3">
                    
                    <div class="col-md-6">
                        <label class="datos-label">Autor</label>
                            <span class="datos-span"><%= ARTICULOS.AR_AUTOR%></span>
                    </div>
                    <div class="col-md-6">
                        <label class="datos-label">Fecha de publicacion</label>
                            <span class="datos-span"><%= ARTICULOS.AR_YEAR_PUBLICACION%></span>
                    </div>
                    <div class="col-md-6">
                        <label class="datos-label">Editorial</label>
                            <span class="datos-span"><%= ARTICULOS.AR_EDITORIAL%></span>
                    </div>
                    <div class="col-md-6">
                        <label class="datos-label">ISBN</label>
                            <span class="datos-span"><%= ARTICULOS.AR_ISBN%></span>
                    </div>
                    <div class="col-md-6">
                        <label class="datos-label">Temas</label>
                            <span class="datos-span"><%= ARTICULOS.AR_TEMAS%></span>
                    </div>
                    <div class="col-md-6">
                        <label class="datos-label">Numero de paginas</label>
                            <span class="datos-span"><%= ARTICULOS.AR_NUMERO_PAGINAS%></span>
                    </div>
                </div>
            </div>
        </div>

    <!--fin de la seccion producto-->
    </main>
    
    <% } %>

    <!--Inicio del FOOTER-->
    <%- include ('template/footer') %>
    <!--Final del FOOTER-->
    <script src="/js/datos-articulo.js"></script>
    </body>
</html>
