<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include ('template/head') %>
    <title>Revista Científica | Editar Artículo</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <% if (login){%> <%- include ('template/header-user-log' , {nombre:name}) %> <% if
    (ARTICULOS) { %>

    <!--formulario de edicion de registro -->
    <div class="container w-75 my-4">
      <div class="card border-dark">
        <div class="card-header bg-light text-dark text-center fw-bold fs-3">
          Editar Articulo
        </div>
          <p style="text-align: center;"class="warning" id="warning"></p> 
        <div class="card-body">
          <form action="/update" method="POST" enctype="multipart/form-data">
            <input
              type="text"
              id="id"
              name="id"
              value="<%= ARTICULOS.AR_ID%>"
              hidden
            />
            <div class="row">
              <div class="col-md-8">
                <div class="row mb-3">
                  <div class="col-md-3 order-2">
                    <label for="admin" class="form-label fw-bold"
                      >ID USER*:</label
                    >
                    <input
                      type="number"
                      class="form-control"
                      id="user"
                      name="user"
                      min="1"
                      max="10"
                      tabindex="2"
                      readonly
                      value="<%= codigo%>"
                    />
                  </div>
                  <div class="col-md-9 order-1">
                    <label for="titulo" class="form-label fw-bold"
                      >Título del artículo*:</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id= "titulo"
                      name="titulo"
                      tabindex="1"
                      value="<%= ARTICULOS.AR_TITULO%>"
                    />
                  </div>
                </div>

                <div class="row mb-3">
                  <div class="col-md-9 order-1">
                    <label for="autor" class="form-label fw-bold"
                      >Autor*:</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id= "nameautor"
                      name="nameautor"
                      tabindex="3"
                      required
                      value="<%= ARTICULOS.AR_AUTOR%>"
                    />
                  </div>

                  <div class="col-md-3 order-2">
                    <label for="añopluciacion" class="form-label fw-bold"
                      >Año de publicacion:</label
                    >
                    <input
                      type="date"
                      class="form-control"
                      id="date"
                      name="yearpublication"
                      value="<%= ARTICULOS.AR_YEAR_PUBLICACION%>"
                    />
                  </div>
                </div>

                <div class="row mb-3">
                  <div class="col-md-3 order-2">
                    <label for="isbn" class="form-label fw-bold"
                      >ISBN:</label
                    >
                    <input
                      type="number"
                      class="form-control"
                      id="isbn"
                      name="isbn"
                      value="<%= ARTICULOS.AR_ISBN%>"
                    />
                  </div>
                  <div class="col-md-9 order-1">
                    <label for="editorial" class="form-label fw-bold"
                      >Editorial*:</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="editorial"
                      name="editorial"
                      tabindex="5"
                      required
                      value="<%= ARTICULOS.AR_EDITORIAL%>"
                    />
                  </div>
                </div>

                <div class="row mb-3">
                  <div class="col-md-3 order-2">
                    <label for="cantidad" class="form-label fw-bold"
                      ># Páginas:</label
                    >
                    <input
                      type="number"
                      class="form-control"
                      id="npaginas"
                      name="npaginas"
                      value="<%= ARTICULOS.AR_NUMERO_PAGINAS%>"
                    />
                  </div>

                  <div class="col-md-9 order-1">
                    <label for="talla" class="form-label fw-bold"
                      >Idioma:</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="idioma"
                      name="idioma"
                      tabindex="7"
                      value="<%= ARTICULOS.AR_IDIOMA%>"
                    />
                  </div>
                  <div class="col-md-9 order-1">
                    <label for="talla" class="form-label fw-bold"
                      >Temas:</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="temas"
                      name="temas"
                      value="<%= ARTICULOS.AR_TEMAS%>"
                    />
                  </div>
                </div>

                <div class="row justify-content-center">
                  <button
                    type="submit"
                    class="btn btn-outline-success col-md-2 m-1 fw-bold"
                    tabindex="12"
                  >
                    Guardar
                  </button>
                  <a
                    href="/user-articulos"
                    class="btn btn-outline-danger col-md-2 m-1 fw-bold"
                    tabindex="13"
                    >Cancelar</a
                  >
                </div>
              </div>
              <div class="col-md-4">
                <label for="articleFile" class="form-label fw-bold"
                  >Vizualiza tu articulo:</label
                >
                <input
                  type="file"
                  class="form-control"
                  id="articleFile"
                  name="articleFile"
                  accept="file/*"
                  tabindex="9"
                  required
                />
                <embed 
                    id="vistaPrevia" 
                    type="application/pdf" 
                    width="350" 
                    height="400"/>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="js/create.js"></script>
    <script src="js/subirarchivos.js"></script>
    <% } %>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
      crossorigin="anonymous"
    ></script>

    <!-- Inicio de footer -->
      <%- include ('template/footer') %>
    <!-- Fin del footer -->

    <!-- Caso cuando no sea logeado -->
      <%} else{%> <%- include ('template/header') %> <%- include ('template/user' ) %>  <%- include ('template/footer') %> <%}%>
  </body>
</html>
