<!DOCTYPE html>
<html lang="es">

<head>
    <%- include ('template/head') %>
    <title>Revista Científica Facci</title>

    <!--Link para los estilos CSS locales-->
    <link rel="stylesheet" href="css/index.css">

    <!-- Bootstrap CSS -->
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
        crossorigin="anonymous"
    />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet">

    <link
        rel="stylesheet"
        href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.min.css"
    />
</head>

<body>
    <% if (login){%> <%- include ('template/header-user-log-index' , {nombre:name}) %>
    <main>
        <section class="portafolio">
            <div class="contenedor">
                <h2 class="titulo">Publicaciones</h2>
                <h3 class="titulo3">Mira las distintas publicaciones hechas por nuestros estudiantes de nuestra querida facultad.</h3>
                <br>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="images/img1.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="images/icono1.png" alt="">
                            <p>EstudiantesInformando</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="images/img2.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="images/icono1.png" alt="">
                            <p>EstudiantesInformando</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="images/img3.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="images/icono1.png" alt="">
                            <p>EstudiantesInformando</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="images/img4.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="images/icono1.png" alt="">
                            <p>EstudiantesInformando</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="images/img5.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="images/icono1.png" alt="">
                            <p>EstudiantesInformando</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="images/img6.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="images/icono1.png" alt="">
                            <p>EstudiantesInformando</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="images/img7.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="images/icono1.png" alt="">
                            <p>EstudiantesInformando</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="images/img8.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="images/icono1.png" alt="">
                            <p>EstudiantesInformando</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="team contenedor">
            <h2 class="titulo">Principales Editores</h2>
            <div class="cards">
                <div class="card">
                    <img src="images/cris.jpeg" alt="">
                    <div class="contenido-texto-card">
                        <h4>Editor en Jefe</h4>
                        <p>Principal editor de la mayoria de las publicaciones de la Revista Científica Facci</p>
                    </div>
                </div>
                <div class="card">
                    <img src="images/tom.jpeg" alt="">
                    <div class="contenido-texto-card">
                        <h4>Fotógrafo</h4>
                        <p>El Mejor fotógrafo y autor de la mayoría de las publicaiones de la Revista.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!--Inicio del FOOTER-->
    <%- include ('template/footer') %>
    <!--Final del FOOTER-->

    <%} else{%> <%- include ('template/header') %> <%- include ('template/user' ) %>  <%- include ('template/footer') %> <%}%>
</body>
</html>
