/*  INICIO DE RESETEO DE CSS
esto solo resetea las configuraciones iniciales */
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}
a,
li {
  text-decoration: none;
  list-style: none;
  color: black;
}
/* FIN DE RESETEO DE CSS */

/* INICIO DE DECLARACION DE VARIABLES
       variables con las que se trabajaran */
:root {
  --primarycolor: #9cb800;
  --secondarycolor: #add400;
  --thirdcolor: #b19c58;
  --fourthcolor: #9dff00;
  --primarytext: "Montserrat", sans-serif;
  --secondtext: "Dancing Script", cursive;
  --shadow: rgba(0, 0, 0, 0.75);
}
/* FIN DE DECLARACION DE VARIABLES */
.body {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.body-div-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.body-div-img img {
  width: 80%;
  min-width: 500px;
  height: 400px;
  min-height: 300px;
  border-radius: 15px;
  box-shadow: 0px 100px 700px rgb(177, 164, 90);
}
.body-title {
  font-family: var(--secondtext);
  font-size: 120px;
  position: absolute;
  top: 250px;
  left: 0;
  right: 0;
  color: var(--thirdcolor);
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.body-text {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 100px 0 0;
}
.body-text p {
  margin: 10px 10px 30px;
  text-align: center;
  z-index: 2;
}
@media screen and (max-width: 480px) {
  .body-div-img img {
    min-width: 200px;
    height: 200px;
    min-height: 200px;
  }
  .body-title {
    font-size: 50px;
    top: 130px;
  }
  .body-text {
    padding: 25px 0 0;
  }
}


