<link rel="stylesheet" href="/css/header.css" />

<!-- Inicio de la cabecera -->
<header>
    <nav>
        <a class="nav-aa" href="/">Inicio</a>
        <a class="nav-aa" href="/articles">Artículos</a>
        <a class="nav-aa" href="/login">Login</a>
        <a class="nav-aa" href="/registro">Registrate</a>
    </nav>
<!-- Buscador -->
    <div class="header-div">
        <input
            type="text"
            placeholder="Busca un articulo"
            class="header-div-input"
            />
        <div class="header-div-icon">
            <i class="icon ion-md-search"></i>
        </div>
    </div>
    <div class="wave" style="height: 50px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
            style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                style="stroke: none; fill: #fff;"></path>
        </svg></div>
</header>
<!-- Fin de la cabecera -->